body {
    margin: 0;
    padding: 0;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;
  }
  main {
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    height: 50vh;
    max-width: 60%;
    margin: 0 auto;
    background-color: red;
    display: flex;
    border-radius: 0.5rem;
  }
  .container-details{
    max-width:33.5%;
    background-color:pink;
 
  }
  .container-details > div{
    width:70%;
    margin:auto;
    margin-top: 1rem;
  }
  .container-details:nth-child(2){
    background-color: yellow;
  }
  .container-details:nth-child(3){
    background-color: purple;
  }

button{
  margin:4rem;
  margin:auto;

}







  /* .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); } */