body {
    margin: 0;
    padding: 0;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;
  }
  main {
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    height: 50vh;
    max-width: 60%;
    margin: 0 auto;
    background-color: red;
    display: flex;
    border-radius: 0.5rem;
  }
  .container>div:first-child{
    max-width:30%;
    background-color:pink;
  }








  /* .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); } */